.profile-img {
  margin-inline: auto;
  width: 150px;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 40px; 
  letter-spacing: 4px; 
  text-align: center;
}

span.red {
  color: red;
}

.box {
  max-width: 700px;
  background: cornflowerblue;
  margin: 10px auto;
  padding: 40px;
  border: 1px solid tomato;
  border-radius: 5px;
  color: floralwhite;
  box-shadow: 3px 3px 5px rgba(194, 18, 88, 0.733);
}

.container {
  width: 800px;
}

.header {
  width: 100%;
  height: 100px;
  background-color: aquamarine;
}

.left-menu {
  width: 20%;
  height: 400px;
  background-color: cornflowerblue;
  /* float: left; */
  display: inline-block;
}

.right {
  width: 80%;
  height: 400px;
  background-color: coral;
  /* float: right; */
  display: inline-block;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: red;
  /* clear: both; */
}

.main-background {
  background: url('https://cdn.pixabay.com/photo/2023/03/18/16/08/mountain-7860877_960_720.jpg') no-repeat center /cover;
  width: 100%;
  height: 500px;
}

.main-title {
  color: white;
  font-size: 40px;
  margin-top: 150px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.main-content {
  color: white;
  text-align: center;
  margin: 30px;
}

.main-button {
  padding: 15px;
  width: 100px;
  display: block;
  border: none;
  border-radius: 5px;
  position: fixed;
  /* position: relative는 내 위치가 기준이 된다. */
  /* position: fixed는 화면이 기준이 된다. */
  /* position: absolute는 내 부모 태그가 기준이 된다.(엄밀히 따지면 조상중에 relative 속성을 가진 태그를 기준으로 함) */
  /* 가운데 정렬하려면 left,right : 0, width 지정, margin-inline: auto */
  top: 100px;
  right: 30px;
}

.main-card {
  text-align: center;
  background-color: #eee;
  height: 200px;
  width: 80%;
  max-width: 800px;
  position: relative;
  top: -50px;
  margin-inline: auto;
  padding: 30px;
  /* left: 50%;
  transform: translateX(-50%); */
  /* width는 content영역의 너비를 의미한다. padding과 border를 포함한 영역을 width로 설정해라 -> box-sizing :border-box다 default는 box-sizing: content-box다 */
}

.text-input {
  padding: 10px;
  font-size: 20px;
}
.text-input[type="password"] {
  color: white;
  background-color: red;
}

@media screen and (max-width: 1200px ) {
  h3 {
    color: tomato;
  }
}

@media screen and (max-width: 768px) {
  h3 {
    color: blue;
  }
}